
.logo{
    width: 165px;
    height: 100px;
    padding-left: 65px;
    padding-top: 20px;
}
#booking {
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(to bottom, #bce5fd, #023e64);
    color: #fff;
    height: 100%;
    min-height: 100vh;
    
  }

  .section {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    text-align: center;
}


.airline-details {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.airline-details img {
    width: 100px;
    height: 100px;
}

.routes-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    
}

.route-box:hover{
    background: #f0f2f4;
}

.routes-list {
    list-style: none;
    padding: 0;
}

.route-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.route-info {
    flex: 1;
    font-weight: 550;
}

.show-more-btn {
    background: #064770;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.show-more-btn:hover {
    background: #023e64;
}

.routes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.route-box {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    width: calc(20% - 20px); /* To display 5 boxes in a row with 20px gap */
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-info {
    margin: 10px 0;
    color: #333;
}

.alphabet-search {
    background-color: #f2f2f2; 
    border-radius: 5px;
    padding: 10px; 
    display: flex; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .alphabet-search input[type="text"] {
    border: none;
    outline: none; 
    padding: 8px;
    font-size: 16px; 
    flex: 1; 
  }
  
  
  .alphabet-search input::placeholder {
    color: #888; 
  }
  
  
  .alphabet-search i {
    margin-right: 10px;
    font-size: 20px;
    color: #555; 
  }